#firstsection
{
	font-family: sans-serif,helvitica;
	width: 410px;
	margin-left:2px;
	background-color: blue;
	box-sizing: border-box;
	border: 5px solid black;
	height: 60px;
	
	
}
#secondsection
{
	font-family: sans-serif,helvitica;
	width: 390px;
	padding-left: 3px;
	margin-left:5px;
	margin-right: 20px;
	margin-top: 3px;
	background-color:seagreen;
	border-width: 10px;
	border-color: black;
	box-sizing: border-box;
	height: 44px;
}